<h2> Awesome Contact Book App </h2>

<form (submit)="onSearchSubmit()">
    <input type="text" [(ngModel)]="nameString" name="nameString" placeholder="Search for name...">
    <button type="submit">Search</button>
</form>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th> Edit </th>
            <th> Delete </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.gender}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phoneNumber}}</td>
            <td>
                <button type="button" (click)="updateContact(contact); $event.stopPropagation();"> Edit </button>
            </td>
            <td>
                <button type="button" (click)="deleteContact(contact); $event.stopPropagation();"> Delete </button>
            </td>
        </tr>
    </tbody>
</table>

<app-save-contact (addContact) ="onAddContacts($event)" (updateContact)="onUpdateContacts($event)"></app-save-contact>
