<div class="container">
    <form id="contact-form" (submit)="onSubmit()" [formGroup]="contactForm">
        <div class="custom-outline-container">
            <label class="custom-group-label">
                <span>Gender *</span>
            </label>
            <div class="custom-group-container">
                <mat-radio-group formControlName="gender" [(ngModel)]="sharedService.newContact.gender" *ngFor="let gender of genders">
                    <mat-radio-button [value]="gender.value">{{gender.display}}</mat-radio-button>
                </mat-radio-group>
                <i matSuffix class="material-icons colored-icon" style="position: relative;left: 70px;">wc</i>
            </div>
        </div>
        <div>
            <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Please enter name" id="name" formControlName="name" required [(ngModel)]="sharedService.newContact.name">
            <i matSuffix class="material-icons colored-icon">face</i>
            <mat-hint *ngIf="(sharedService.submitted || !f.pristine) && f.name.errors && f.name.errors.pattern" class="error">Must be 3 to 32 characters length</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Please enter email" id="email" formControlName="email" [(ngModel)]="sharedService.newContact.email">
                <i matSuffix class="material-icons colored-icon">email</i>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Please enter phone number" id="phone-number" formControlName="phoneNumber" required [(ngModel)]="sharedService.newContact.phoneNumber">
                <i matSuffix class="material-icons colored-icon">phone</i>
            </mat-form-field>
        </div>
        <button mat-raised-button type="submit" color="primary" id="submit-button" [disabled]="f.invalid">submit</button>
    </form>
</div>